logger:
  type: "zap"
  zap:
    level: "debug"
    log_file_path: "./logfile"
    caller: "{{ .AppName }}"
    log_to_console: true
    export_to_otel: false
    max_size: 100
    max_age: 10
    max_backups: 5
    exporter_endpoint: "localhost:4317"
    exporter_insecure: true
